.wallper1{
    /* opacity: 0.75; */
    height: auto;
    max-width: 100%;

}

/* .wallper{
    background-color: hsl(352, 87%, 36%);
} */

.phrase{
    position: absolute;
    color: aliceblue;
    
}